.padrl {
  padding-right: 10px !important;
  padding-left: 10px !important;
  padding-top: 0px !important;
}
span > div {
  margin-top: -25px;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden !important;
}
